@import "tailwindcss";

@theme {
  --font-sans: "Schibsted Grotesk", ui-sans-serif, system-ui, sans-serif;
}

/* 記事内のテーブルを復活させるCSS */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

th,
td {
  border: 1px solid #d1d5db; /* 薄いグレーの枠線 */
  padding: 0.75rem;
}

th {
  background-color: #f3f4f6; /* ヘッダーの背景色 */
  font-weight: bold;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ページ全体のスクロールバーを非表示 */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
